// ul{
    
//     text-decoration: none;
//     color: #21292B !important;
//     padding: 15px 0;
//     font-size: 21px;
//     line-height: 1.2em;
//     font-family: 'Comme - regular', Helvetica, Arial, Lucida, sans-serif;
  
// }
.text1{
    font-size: 14px;
    font-family: 'Comme - regular', Helvetica, Arial, Lucida, sans-serif;   
}
.text2{
    color: #666;
}